In [1]:
 #importing regular expression library 
import re

# re.match()

In [2]:
#using re.match 
#to find the first occurrence of the letter 'I' in the string 
 
sentence1 = re.match (r'I', 'I am learning text analytics') 
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [3]:
#using re.match 
#to find the first occurrence of the letter 'v' in the string 
 
sentence2 = re.match (r'v', 'I am learning text analytics') 
print (sentence2)

None

In [4]:
#using re.match 
#to find the first occurrence of the letter 'am' in the string 
 
sentence3 = re.match (r'am', 'I am learning text analytics') 
print (sentence3)

None

In [6]:
#re.search( ) is used to find the first occurrence of a pattern in a string regardless of the location

sentence4 = re.search(r'am', 'I am learning text analytics')  
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [7]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence5)

<re.Match object; span=(2, 4), match='am'>

# re.findall()

In [8]:
#re.findall( ) is used to find all of the occurrences of a pattern in a string

sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence6)

['am', 'am']

In [9]:
#re.split( ) is used to split a string by the occurrence of a given pattern
#The string is split into two (2) by the pattern 'and'
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [ ]:
#split into three (3) by the pattern 'am'
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)

In [10]:
#By including the argument maxsplit = 1 (default value is zero), the string is split into two (2) by the first occurrence of 'am'
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [11]:
#By including the argument maxsplit = 2 (default value is zero), the string is split into three (3) by the first two occurrences of 'am'
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [12]:
#By including the argument maxsplit = 3 (default value is zero), the string is split into four (4) by the first three occurrences of 'am'
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

In [13]:
#re.sub( ) is used to find the occurrence of a given pattern in a string and replace with a new value
#The word ' I ' is changed to 'we' and are replaced in two (2) occurrences
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)

we like text analytics and we enjoy learning it

# metacharacters

In [14]:
#metacharacters '.'
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1) 
 
# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [16]:
#metacharacters '\w'
sentence2 = re.findall (r'\w', 'I am learning text analytics')
print (sentence2) 
 
# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [17]:
#metacharacters '\w*'
sentence3 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence3) 
 
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [18]:
#metacharacters '\w+'
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4) 
 
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

In [19]:
#metacahracters '\w+'
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5) 
 
# First word is selected

['I']

In [20]:
#metacahracters '\w+$'
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6) 
 
# Last word is selected

['analytics']

In [21]:
#metacahracters '\w\w'
sentence7 = re.findall (r'\w\w', 'I am learning text analytics') 
print (sentence7) 
 
# 2 consecutive characters are selected 
# âIâ is not selected because it only contains one character

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [ ]:
#metacahracters '\b\w\w'
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics') 
print (sentence8) 
 
# 2 consecutive characters in a string are selected

# Extract the domain type of email address

In [23]:
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence9) 
 
# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [24]:
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [25]:
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence11) 
 
# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [27]:
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')  
print (sentence12) 
 
# To display the type of domain

['com.my', 'gov.my', 'edu.my']

# ExtractingDate

In [47]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13) 
 
# To display the date in the format of dd-mm-yy

['15-05-20', '20-08-20']

In [63]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}(\d{2})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13) 
 

# dd-mm-yy or yy

['01', '00']

In [52]:
sentence14 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence14) 
 
# To display the date in the format of dd-mm-yyyy

['15-05-2001', '20-08-2000']

In [30]:
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15) 
 
# Only the year will be displayed

['2001', '2000']

# Select Words That Start With Vowels in string

In [31]:
sentence16 = re.findall (r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence16)
 
# A sequence that starts with a vowel followed by one o rmore characters are selected

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [32]:
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence17) 
 
# Only words that start with vowels are selected

['eight', 'often', 'in', 'afternoon']

In [33]:
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence18) 
 
# Only words that start with non-vowels are selected

['have', 'story', 'books', 'read', 'them']

# Splitting a string with multiple delimiters

In [34]:
sentence19 = re.split (r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence19) 
 
# split the words based on the delimiters semi colon and comma

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [35]:
sentence20 = re.split (r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence20) 
 
# split the words based on the delimiters semi colon, comma and space

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

# Substituting delimeters

In [36]:
sentence21 = re.sub (r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence21) 
 
# Substitute the delimiters semi colon and comma with fullstop

I have many story books. colouring books. I often read them in the afternoon.

In [ ]:
from datetime import datetime 

sentence15 = re.findall(r'(\d{2}-\d{2}-\d{4})' , 'Ahmad BIT(IS) 15-05-2001'